---
layout: default
---
<article>
  <h1>{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
  {% if page.tags.size > 0 %}
  <div class="tags">
    {% for tag in page.tags %}
    <span class="tag">{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}
  {{ content }}
</article>
{% assign related = site.related_posts | slice: 0, 3 %}
{% if related.size > 0 %}
<div class="related-posts">
  <h2>Related Posts</h2>
  <ul>
    {% for post in related %}
    <li>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
